form.nosubmit {
    border: none;
    padding: 0;
}
input.nosubmit {
    border: 0.5px solid #404146;
    padding: 5px 4px 5px 40px;
    border-radius: 3rem;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

input::placeholder {
    font-size: small;
    font-family: "Lato", sans-serif;
}

.tittle {
    font-family: "Cabin", sans-serif;
}

.nav-item {
    font-family: "Lato", sans-serif;
}

.content {
    background: url(images/bg-6.png) left bottom no-repeat, url(images/bg-1.png) center no-repeat, url(images/bg-2.png) center top 300px no-repeat, url(images/bg-7.png) right bottom no-repeat, url(images/bg-3.png) top 82px left 796.44px no-repeat, url(images/bg-4.png) top 103px left 893.21px no-repeat, url(images/bg-5.png) top 163.95px left 834.93px no-repeat;
    margin-top: 5rem;
    padding-left: 14rem;
}

.content-left {
    margin-top: 6rem;
    font-family: "Poppins", sans-serif;
}

.content-left h1 {
    font-weight: 500;
    line-height: 50px;
}

.content-left p {
    font-weight: 400;
    font-size: 24px;
}

.right-content {
    position: relative;
    display: grid;
}

.overlay-text {
    background-color: #EEEEEE;
    align-self: end;
    justify-self: end;
}

.pet-type {
    border-radius: 60px 0 0 60px;
    font-weight: 400;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 101px;
    background-image: linear-gradient(to right, #9cd9cd, #FFFFFF);
}

.highlight-section,
.pets-section {
    font-family: "Poppins", sans-serif;
}

.pets-section button {
    border-radius: 50%;
    border-color: #EEEEEE;
}

.contact-section {
    margin-top: 7rem;
    display: grid;
    height: calc(250px + 25vmin);

    >* {
        grid-area: 1/-1;
    }
}
&:after {
    content: "";
    background-color: transparent;
    opacity: 0.5;
    grid-area: 1/-1;
  }
.overlay-content {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 270px;
    margin-left: -200px;
}
.overlay-content span {
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #404146;
    font-family: "Red Hat Text", sans-serif;
}
.overlay-content span:nth-child(2) {
    -webkit-text-stroke-color: #07A081;
}
.contact-left {
    background: url(images/puddle.png) left 112.44px top 100px no-repeat
}
.discount-section {
    margin-top: 5rem;
    background: url(images/Vector.png) bottom left no-repeat, url(images/Group\ 1047.png) top right no-repeat
}
.discount-section button, .img-promote button {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.background-text span {
    font-size: 150px;
    font-weight: 700;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #404146;
    font-family: "Red Hat Text", sans-serif;
}
.background-text span:nth-child(2) {
    -webkit-text-stroke-color: #07A081;
}
.img-promote {
    position: relative;
}
.img-promote img{
    position: relative;
    left: 40%;
}
.img-promote button {
    position: relative;
    margin-top: 10%;
    left: 40%;
}
.img-promote .rating {
    position: absolute;
    top: 60%;
    left: 15%;
}
.background-text {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: -1;
    overflow: hidden;
}
.footer-section {
    background-color:#EEEEEE;
    margin-top: 3rem;
    font-family: "Nunito", sans-serif;
}